@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased;
    font-family: 'Vazirmatn', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  .dark body {
    @apply bg-slate-900 text-gray-200;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary-300 rounded-lg hover:bg-primary-500;
}
.dark ::-webkit-scrollbar-thumb {
  @apply bg-primary-800 hover:bg-primary-700;
}