@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-gray-50 dark:bg-slate-900;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-300 rounded-full hover:bg-primary-500 dark:bg-primary-800;
}